.maincontainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #fff;
  border-radius: .6rem;
  margin: 1rem;
  width: 700px;
  /* min-width: 700px; */
}

.card .card-header {
  font-size: 1.6rem;
  padding: .5rem 1rem;
}

.card .card-header .uno {
  border: 2px solid rgba(0,0,0,.6);
  border-radius: 5rem;
  color: rgba(0,0,0,.6);
  display: grid;
  font-size: 1rem;
  height: 1.6rem;
  margin-top: 0.4rem;
  place-items: center;
  width: 65px;
}

.card .card-header .type {
  border-radius: 5rem;
  color: rgba(0,0,0,.6);
  font-size: .9rem;
  margin-top: 0.4rem;
  text-transform: uppercase;
}

.card .card-header h3 {
  text-align: left;
}

.card .card-header .description {
  font-size: .8rem;
}

.card .card-body {
  display: grid;
  place-items: center;
}

.card .card-body .food-image {
  max-height: 100%;
  max-width: 80%;
  overflow: hidden;
}

.card img {
  max-width: 100%;
}

button {
  background-color: #fff;
  border: 2px solid #6a95f2;
  border-radius: 0.4rem;
  cursor: pointer;
  float: right;
  font-size: .9rem;
  height: 2.5rem;
  margin-bottom: 1rem;
  transition: all .2s ease-in-out;
  width: 8rem;
  position: relative;
  left: 75px;
  top: 18px;
}

button:hover {
  background-color: #6a95f2;
  color: #fff;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .maincontainer {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .maincontainer {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .maincontainer {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  }

  button {
    position: relative;
    left: 18px;
    top: 20px;
  }
}
